* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(160, 157, 186);
  margin-top: 60px;
  padding: 60px 0;
  border-radius: 20%;

  margin-left: 60px;
  margin-right: 60px;
}

.value {
  font-size: 60px;
  font-weight: 800;
}

.label {
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 20px;
}

.flatpickr-input {
  font-size: 30px;
  background-color: rgb(160, 157, 186);
}

.timer_btn {
  width: 80;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(160, 157, 186);
  font-size: 30px;
  margin-left: 40px;
}
